@import java.time.format.DateTimeFormatter
@import java.time.format.FormatStyle

@(user: User, viewedUser: User)

@if(user == viewedUser && viewedUser.getRecentComments.size == 0){
    <p>Es wurden noch keine deiner Beiträge kommentiert.</p>
} else {
    @if(user != viewedUser && viewedUser.getComments.size() == 0) {
        <p>@viewedUser.getUsername hat noch keine Kommentare verfasst.</p>
    } else {
        @defining(if(user == viewedUser) viewedUser.getRecentComments else viewedUser.getComments) { comments =>
            @comments.map { comment =>
                <div class="comment">
                    <span>@comment.getContent</span>
                    <p>
                        <small>
                            @comment.getTime.format(DateTimeFormatter.ofLocalizedDateTime(FormatStyle.SHORT).withLocale(Locale.GERMAN))
                            -
                            <a href="@routes.UserController.renderUser(comment.getUser.getId)">@snippets.gravatar(comment.getUser, 16) @comment.getUser.getUsername</a>
                            auf

                            @if(comment.getExercise != null) {
                                <a href="@routes.ExerciseDetailController.renderExerciseDetail(comment.getExercise.getId)">@comment.getExercise.getTitle</a>
                            } else {
                                deine Lösung zu <a href="@routes.ExerciseDetailController.renderExerciseDetail(comment.getSolution.getExercise.getId)">@comment.getSolution.getExercise.getTitle</a>
                            }
                        </small>
                    </p>
                </div>
            }
        }
    }
}
