@(exercises: java.util.List[Exercise])

<table class="table table-striped">
    <thead class="thead-inverse">
        <tr>
            <td>Titel</td>
            <td>Lösungen</td>
            <td>Bewertung</td>
            <td>Datum</td>
        </tr>
    </thead>
    <tbody>

    @exercises.map{ exercise =>
        <tr>
            <td>
                <a href="@routes.ExerciseDetailController.renderExerciseDetail(exercise.getId)">@exercise.getTitle</a>
                <p>von <a href="@routes.UserController.renderUser(exercise.getUser.getId)">@exercise.getUser.getUsername</a>
                    @for(tag <- exercise.getTagsSortedByTagType){
                        @tag.getName,
                    }
                    </p>
            </td>
            <td class="text-center">
            @exercise.getSolutions.size
            </td>
            <td class="text-center">
            @exercise.getPoints
            </td>
            <td>
            @exercise.getTime().format(java.time.format.DateTimeFormatter.ofPattern("d MMM yyyy - hh:mm:ss"))
            </td>
        </tr>
    }
    </tbody>
</table>