@(user: User, viewedUser: User)

@if(user == viewedUser && viewedUser.getExercises.size == 0){
    <p>Du hast noch keine Aufgaben erstellt. Klicke <a href="@routes.ExerciseController.renderCreate()">hier</a>,
        um eine neue Aufgabe zu erstellen.</p>
} else {
    @if(viewedUser.getExercises.size == 0) {
        <p>@viewedUser.getUsername hat noch keine Aufgaben erstellt.</p>
    } else {
        @viewedUser.getExercises.map { exercise =>
                @snippets.exerciseCard(exercise, user)
        }
    }
}
