@(solutions: java.util.List[Solution])

@if(solutions.size() == 0){
    <p>Du hast noch keine Aufgaben gelöst. <a href="@routes.ExerciseController.renderOverview()">Hier</a>
        findest du eine Liste von interessanten Aufgaben.</p>
} else {
    @for(solution <- solutions) {
        <div class="listSolution  item-green">
            <span class="item" >
                <a href="@routes.ExerciseDetailController.renderExerciseDetail(solution.getExercise.getId)">@solution.getExercise.getTitle</a>
            </span>
            <span class="item"> @Html(solution.getContent) </span>
            <span class="meta user"> @snippets.userLink(solution.getUser) </span>
            <span class="meta time"> @snippets.longDate(solution.getTime) </span>
            <div class="box">
                <span class="meta points">
                @solution.getPoints
                </span>
            </div>
        </div>
    }
}