@(comment: Comment)
<div class="hiddenComment editcomment@comment.getId" id="editcomment@comment.getId">
    <div class="buttondetail " >
        <form method="POST" action="@routes.ExerciseDetailController.updateComment(comment.getId)">
            <div class="input-group">
                <input type="text" class="form-control" id="content" name="content" value="@comment.getContent"/>
                    <span class="input-group-btn">
                        <button class="btn btn-default pull-right" type="submit" >Speichern</button>
                    </span>
            </div>
        </form>
    </div>
</div>