@(exercise: Exercise, user: User = null)
<div class="list exercise-card @if(user != null && exercise.isSolvedBy(user)){item-blue} else {item-green}" onclick="window.location='@routes.ExerciseController.renderDetail(exercise.getId)'">
    <span class="item">
        <p class="title">
            <a href="@routes.ExerciseController.renderDetail(exercise.getId)">
                @exercise.getTitle
            </a>
        </p>
        <p class="meta">Tags: @snippets.tags(exercise.getTagsSortedByTagType)</p>
    </span>
    <span class="meta user">@snippets.userLink(exercise.getUser)</span>
    <span class="text-center meta solutioncount">
        @exercise.getValidSolutions.size @if(exercise.getValidSolutions.size == 1) { Lösung } else { Lösungen }
        @if(user != null && exercise.isSolvedBy(user)){ <span title="Du hast diese Aufgabe gelöst" class="glyphicon glyphicon-ok"></span> }
    </span>
    <span class="meta time">
        @snippets.longDate(exercise.getTime)
    </span>
    <div class="box boxnovote">
        <span class="text-center points">
        @exercise.getPoints
        </span>
    </div>
</div>
