@(exercise: Exercise, user: User = null)
<div class="list exercise-card @if(user != null && exercise.isSolvedBy(user)){item-blue} else {item-green}">
    <span class="item">
        <p class="title">
            <a href="@routes.ExerciseDetailController.renderExerciseDetail(exercise.getId)">
                @exercise.getTitle
            </a>
        </p>
        <p class="meta">Tags: @exercise.getTagsSortedByTagType.map{ tag =>
                <a class="tag" href="@routes.ExerciseController.renderList(0, 0, "", tag.getName)">@tag.getName</a>
        }</p>
    </span>

    <span class="meta user">@snippets.userLink(exercise.getUser)</span>
    <span class="text-center meta solutioncount">
        @exercise.getSolutions.size @if(exercise.getSolutions.size == 1) { Lösung } else { Lösungen }
        @if(user != null && exercise.isSolvedBy(user)){ <span title="Du hast diese Aufgabe gelöst" class="glyphicon glyphicon-ok"></span> }
    </span>
    <span class="meta time">
        @snippets.longDate(exercise.getTime)
    </span>
    <div class="box">
        <span class="text-center points">
        @exercise.getPoints
        </span>
    </div>
</div>
