.topheader {
    background-color: #558B2F;
    height: auto;
    width: 100%;
    /*position: fixed;
    top: 0;*/
    margin: 0;
    padding: 0;
}

#navigation {
    display: flex;
    justify-content: flex-start;
    max-width: 1024px;
    margin-left:auto;
    margin-right:auto;
    height: auto;
}

#navigation a{
    padding: 0.5rem;
    font-weight: bold;
    font-family: Helvetica;
    font-size: 1.5rem;
    color: white;
}

#navigation a:last-child{
    margin-left: auto;
    color: red;
}

#navigation a:hover {
    background-color: #9CCC65;
}

.body{
    margin-top: 5rem;
    max-width: 1024px;
    margin-left:auto;
    margin-right:auto;
    background-color: #DCEDC8;
}

body {
    margin: 0;
    background-color: #EEEEEE;
}