.topheader {
    background-color: #558B2F;
    height: auto;
    width: 100%;
    /*position: fixed;
    top: 0;*/
    margin: 0;
    padding: 0;
}

#navigation {
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    height: auto;
}

#navigation a {
    padding: 0.5rem;
    font-weight: bold;
    font-family: Helvetica;
    font-size: 1.5rem;
    color: white;
}

#navigation a:last-child {
    margin-left: auto;
}

#navigation a:hover {
    background-color: #9CCC65;
}

.body {
    max-width: 1024px;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
}

body {
    margin: 0;
    background-color: #EEEEEE;
}

@media (max-width: 800px) {
    #navigation {
        flex-direction: column;
    }

    #navigation a:last-child {
        margin-left: 0;
    }
}