@import java.time.format.{DateTimeFormatter, FormatStyle}
@(solutions: java.util.List[Solution], user: User, exerciseId: java.lang.Long)

    @for(solution <- solutions) {
        <div class="listSolution @if(solution.isOfficial) {
            item-green
        } else {
            @if(solution.getPoints < 0) {
                item-red
            } else {
                item-blue
            }
        }">
            <span class="item">@Html(solution.getContent)</span>
            <span>
                <a class="meta user" href="@routes.UserController.renderUser(solution.getUser.getId)">@snippets.gravatar(solution.getUser, 16) @solution.getUser.getUsername</a>
            </span>
            <i class="clock"></i>
            <span class="meta time">@solution.getTime.format(DateTimeFormatter.ofLocalizedDateTime(FormatStyle.SHORT).withLocale(Locale.GERMAN))</span>
            @if(user.isModerator || user.getId == solution.getUser.getId) {
                <span class="meta delete">
                    <img src="@routes.Assets.versioned("images/garbage.png")" onmouseover="this.src = '@routes.Assets.versioned("images/garbage-1.png")'"
                    onmouseout="this.src = '@routes.Assets.versioned("images/garbage.png")'" onclick="deleteSolution(@solution.getId, @exerciseId)
                </span>
            }
            <div class = "box">
                <a id="upVoteSolution@solution.getId" class = "up" onclick="upVoteSolution(@solution.getId)" >&#9650;</a>
                <span id="solutionPoints@solution.getId" class="points">@solution.getPoints</span>
                <a id="downVoteSolution@solution.getId" class = "down" onclick="downVoteSolution(@solution.getId)" >&#9660;</a>
            </div>

            <a class="pull-right" href="#" onclick="toggler('solution@solution.getId')" >Kommentare <span class="badge">@solution.getComments.size()</span></a>


        </div>
        <div id="solution@solution.getId" class="hiddenComment">


            @solution.getComments.map { comment =>

                <div class="commentdetail">
                    <span class="item"> @comment.getContent</span>
                    <span><a class="meta user" href="@routes.UserController.renderUser(comment.getUser.getId)">@comment.getUser.getUsername</a></span>
                    <span class="meta time">
                    @comment.getTime().format(DateTimeFormatter.ofLocalizedDateTime(FormatStyle.SHORT).withLocale(Locale.GERMAN))
                    </span>
                </div>
            }

        <div class="buttondetail">
            <form method="POST" action="@routes.ExerciseDetailController.createCommentSolution(solution.getId)">

            <div class="input-group">

                    <input type="text" class="form-control" id="content" name="content" placeholder="Neuer Kommentar">
                    <span class="input-group-btn">
                        <button class="btn btn-default pull-right" type="submit">Speichern</button>
                    </span>
            </div>
            </form>

        </div>
        </div>

    }