@import java.util
@import java.time.format.DateTimeFormatter
@import java.time.format.FormatStyle
@(user: User, tags: util.List[Tag], comments: util.List[Comment])

@main("Dashboard", user){
    <h1>Deine gefolgten Tags</h1>
    <ul>
        @tags.map{ tag =>
          <li><a href="@routes.ExerciseController.renderList(0, 0, "", tag.getName)">@tag.getName</a> (@user.getNofCompletedExercisesByTag(tag)/@tag.getExercises.size())</li>
        }
    </ul>

    <h1>Neue Kommentare auf deine Beiträge</h1>
        @comments.map{ comment =>
        <div class="comment">
            <span>@comment.getContent()</span>
            <p>

                <small>
                @comment.getTime.format(DateTimeFormatter.ofLocalizedDateTime(FormatStyle.SHORT).withLocale(Locale.GERMAN))
                    -

                <a href="#TODO">@comment.getUser().getUsername()</a>
                auf

                    @if(comment.getExercise() != null) {
                        <a href="@routes.SolutionController.renderExerciseDetail(comment.getExercise.getId)">@comment.getExercise().getTitle()</a>
                    } else {
                        <a href="@routes.SolutionController.renderExerciseDetail(comment.getSolution.getExercise.getId)">@comment.getSolution().getExercise().getTitle()</a>
                    }
                </small>
            </p>
        </div>
        }
}
