@import java.util
@(user: User, exercise: Exercise, solution: Solution, maintags: util.List[Tag], othertags: util.List[Tag])

@main(if(exercise.getId == null) {
    "Aufgabe erstellen"
} else {
    "Aufgabe editieren"
}, user) {
    <script src="@routes.Assets.versioned("javascripts/jquery.tokeninput.js")" type="text/javascript"></script>
    <script src="@routes.Assets.versioned("javascripts/exercise.js")" type="text/javascript"></script>

    <div>
        <form method="POST" action="
            @if(exercise.getId == null) {
                @routes.ExerciseController.processCreate()
            } else {
                @routes.ExerciseController.processUpdate(exercise.getId)
            }">
            <div class="container-fluid">
                <div class="row">
                    <input class="input_title" oninvalid="setCustomValidity('Bitte einen Titel setzen.')" oninput="setCustomValidity('')" required id="title" placeholder="Titel der Aufgabe" type="text" name="title" value="@exercise.getTitle"/>
                    <h3>Beschreibung der Aufgabe:</h3>
                    <div id="exercise_content">
                        <textarea name="content" required id="content" rows="10" cols="80">
                        @exercise.getContent
                        </textarea>
                        <script>
                                CKEDITOR.replace('content');
                        </script>
                    </div>

                    <div class="form-group  input_tag_top">
                        <label for="maintag">Modul: </label>


                        <select name="maintag" id="maintag" style="width: 50%" class="tags-basic-single">
                        @for(tag <- maintags) {
                            @if(exercise.getTags.contains(tag)){
                            <option selected value=@tag.getName>@tag.getName</option>
                            } else{
                            <option value=@tag.getName>@if(tag.getLongName != null) {@tag.getName - @tag.getLongName} else {@tag.getName}</option>
                            }
                        }

                        </select>

                    </div>
                    <div class="form-group input_tag">
                        <label for="othertag">Tags:</label>

                        <select name="othertag" id="othertag" style="width: 100%" class="tags-tokenizer" multiple>
                        @for(tag <- othertags) {
                            @if(exercise.getTags.contains(tag)){
                                <option selected value=@tag.getName>@tag.getName</option>
                            } else{
                                <option value=@tag.getName>@tag.getName</option>
                            }
                        }
                        </select>
                    </div>

                    @if(exercise.getId == null){
                        <h3>Deine Lösung zur Aufgabe:</h3>
                        <div id="solution_content">
                            <textarea name="contentsol" id="contentsol" rows="10" cols="80">
                            @solution.getContent
                            </textarea>
                            <script>
                                    CKEDITOR.replace( 'contentsol' );
                            </script>
                        </div>

                        <div class="checkbox">
                            <label><input id="isOfficial" type="checkbox" name="isOfficial" @if(solution.isOfficial){checked}> Dies ist die Musterlösung</label>
                            <p> <small>Markiere dieses Feld, wenn dies die offizielle Lösung von deinem Dozenten, beziehungsweise des Erstellers der Übung ist. </small></p>
                        </div>
                    }

                    <input type="submit" class="btn btn-primary btn-lg btn-block btn-create-exercise" id="save" value="Speichern"/>
                </div>
            </div>

        </form>
    </div>
}
