@import java.util
@(currentPage: com.avaje.ebean.PagedList[Exercise], currentOrderBy: String, currentFilter: String)


@****************************************
* Helper generating navigation links    *
****************************************@
@link(newPage: Int,newOrderBy: String) = @{
    routes.ExerciseController.list(newPage, newOrderBy, currentFilter)
}

@**********************************
* Helper generating table headers *
***********************************@
@header(orderBy: String, title: String) = {
    <th class="col@orderBy header @if(currentOrderBy == orderBy) @{if(currentOrderBy == orderBy) "headerSortDown" else "headerSortUp"}">
        <a href="@link(0,orderBy)">@title</a>
    </th>
}

@main("Welcome to Exsolnet"){

    @helper.form(action=routes.ExerciseController.list()) {
        <input type="search" id="searchbox" name="f" value="@currentFilter" placeholder="Titelfilter"/>
        <input type="submit" id="searchsubmit" value="Suche" class="btn primary"/>
    }

    <table class="exercises zebra-striped">
        <thead>
            <tr>
                @header("title", "Titel")
                @header("content", "Inhalt")
                @header("time", "Datum")
            </tr>
        </thead>
        <tbody>

        @for(exercise <- currentPage.getList){
            <tr>
                <td><a href="">@exercise.getTitle</a></td>
                <td>
                @exercise.getContent
                </td>
                <td>
                @exercise.getTime
                </td>
            </tr>
        }
        </tbody>
    </table>

    <div id="pagination" class="pagination">
        <ul>
            @if(currentPage.hasPrev){
            <li class="prev">
                <a href="@link(currentPage.getPageIndex-1,currentOrderBy)">&larr; Vorherige</a>
            </li>
            }else {
                <li class="prev disabled">
                    <a>&larr; Vorherige</a>
                </li>
            }
            <li class="current">
                <p>Zeige @(currentPage.getPageIndex*currentPage.getPageSize+1) bis @(currentPage.getPageIndex*currentPage.getPageSize+currentPage.getList.size()) von @currentPage.getTotalRowCount an</p>
            </li>
            @if(currentPage.hasNext) {
                <li class="prev">
                    <a href="@link(currentPage.getPageIndex+1, currentOrderBy)">&larr; Nächste</a>
                </li>
            }else{
             <li class="prev disabled">
                <a>&larr; Nächste</a>
            </li>
}
        </ul>
    </div>
}