@import java.util
@(currentPage: com.avaje.ebean.PagedList[Exercise], currentOrderBy: Int, currentTitleFilter: String, currentTagFilter: String)


@****************************************
* Helper generating navigation links    *
****************************************@
@link(newPage: Int,newOrderBy: Int) = @{
    routes.ExerciseController.list(newPage, newOrderBy, currentTitleFilter, currentTagFilter)
}

@**********************************
* Helper generating table headers *
***********************************@
@header(orderBy: Int, title: String) = {
    <th class="col@orderBy header @if(currentOrderBy == orderBy) @{if(currentOrderBy == orderBy) "headerSortDown" else "headerSortUp"}">
        <a href="@link(0,if (currentOrderBy == orderBy) -orderBy else orderBy )">@title</a>
    </th>
}

@main("Welcome to Exsolnet"){
    <script src="@routes.Assets.versioned("javascripts/jquery.tokeninput.js")" type="text/javascript"></script>
    <script src="@routes.Assets.versioned("javascripts/exerciselist.js")" type="text/javascript"></script>
    @helper.form(action=routes.ExerciseController.list()) {
        <input type="hidden" name="sort" value="@currentOrderBy" />
        <input type="search" id="searchbox" name="title" value="@currentTitleFilter" placeholder="Titel-Filter"/>
        <input type="search" id="tag-filter-list" name="tags" value="@currentTagFilter" placeholder="Tag-Filter"/>
        <input type="submit" id="searchsubmit" value="Suche" class="btn primary"/>
    }

    <table class="exercises zebra-striped">
        <thead>
            <tr>
                @header(1, "Titel")
                @header(2, "Lösungen")
                @header(3, "Bewertung")
                @header(4, "Datum")
                @header(5, "Gelöst")
            </tr>
        </thead>
        <tbody>

        @for(exercise <- currentPage.getList){
            <tr>
                <td>
                    <a href="@routes.ExerciseController.renderDetails(exercise.getId)">@exercise.getTitle</a>
                    <p>von <a>@exercise.getUser</a>
                        @for(tag <- exercise.getTags){
                            @tag.getName,
                        }
                    </p>
                </td>
                <td>
                @exercise.getSolutions.size
                </td>
                <td>
                @exercise.getPoints
                </td>
                <td>
                @exercise.getTime
                </td>
                <td>
                @*exercise.getSolutions.find(s => s.getUser.getEmail.equals(username))*@
                </td>
            </tr>
        }
        </tbody>
    </table>

    <div id="pagination" class="pagination">
        <ul>
            @if(currentPage.hasPrev){
            <li class="prev">
                <a href="@link(currentPage.getPageIndex-1,currentOrderBy)">&larr; Vorherige</a>
            </li>
            }else {
                <li class="prev disabled">
                    <a>&larr; Vorherige</a>
                </li>
            }
            <li class="current">
                <p>Zeige @(currentPage.getPageIndex*currentPage.getPageSize+1) bis @(currentPage.getPageIndex*currentPage.getPageSize+currentPage.getList.size()) von @currentPage.getTotalRowCount an</p>
            </li>
            @if(currentPage.hasNext) {
                <li class="prev">
                    <a href="@link(currentPage.getPageIndex+1, currentOrderBy)">&larr; Nächste</a>
                </li>
            }else{
             <li class="prev disabled">
                <a>&larr; Nächste</a>
            </li>
}
        </ul>
    </div>
}