@import java.time.format.{DateTimeFormatter, FormatStyle}
@(user: User, exercise: Exercise)(solutionsContent: Html)
@main(exercise.getTitle, user) {
    <script type="text/javascript">
            function toggler(divId) {
                $("#" + divId).toggle();

            }
    </script>
    <div class="exercisedetail">
        <h1>@exercise.getTitle</h1>
        <p>@Html(exercise.getContent)</p>


        <span class="meta">
            <p class="meta tag maintag">@exercise.getTagsSortedByTagType.filter(x => x.isMainTag).map(x => x.getName).mkString(", ") </p>
            <p class="meta tag">@exercise.getTagsSortedByTagType.filter(x => !x.isMainTag).map(x => x.getName).mkString(", ")</p>
        </span>

        <span><a class="meta user" href="@routes.UserController.renderUser(exercise.getUser.getId)">@snippets.gravatar(exercise.getUser, 16) @exercise.getUser.getUsername</a></span>
        <span class="text-center meta count">
        @exercise.getSolutions.size
        </span>
        <span class="meta time">
        @exercise.getTime().format(DateTimeFormatter.ofLocalizedDateTime(FormatStyle.SHORT).withLocale(Locale.GERMAN))
        </span>

        <a class="pull-right" href="#" onclick="toggler('exerciseComment')" >
            Kommentare <span class="badge">@exercise.getComments.size()</span></a>

        @if(user.isModerator) {
            <a href="@routes.ExerciseController.processDelete(exercise.getId)" class="meta delete">
                <img src="@routes.Assets.versioned("images/garbage.png")" onmouseover="this.src='@routes.Assets.versioned("images/garbage-1.png")'"
                onmouseout="this.src='@routes.Assets.versioned("images/garbage.png")'" >
            </a>
        }
        <div class = "box">
            <a id="upVoteExercise" class = "up" onclick="upVoteExercise(@exercise.getId)" >&#9650;</a>
            <span id="exercisePoints" class="text-center points">
            @exercise.getPoints
            </span>
            <a id="downVoteExercise" class = "down" onclick="downVoteExercise(@exercise.getId)" >&#9660;</a>
        </div>

    </div>
    <div id="exerciseComment" class="hiddenComment">


        @exercise.getComments.map { comment =>

            <div class="commentdetail">
                <span class="item"> @comment.getContent</span>
                <span><a class="meta user" href="@routes.UserController.renderUser(comment.getUser.getId)">@comment.getUser.getUsername</a></span>
                <span class="meta time">
                @comment.getTime().format(DateTimeFormatter.ofLocalizedDateTime(FormatStyle.SHORT).withLocale(Locale.GERMAN))
                </span>
            </div>
        }
        <div class="buttondetail">
            <form method="POST" action="@routes.ExerciseDetailController.createCommentExercise(exercise.getId)">

                <div class="input-group">

                    <input type="text" class="form-control" id="content" name="content" placeholder="Neuer Kommentar">
                    <span class="input-group-btn">
                        <button class="btn btn-default pull-right" type="submit" >Speichern</button>
                    </span>
                </div>
            </form>


        </div>

    </div>
    @solutionsContent
}
