@import java.time.format.DateTimeFormatter
@import java.time.format.FormatStyle
@(user: User, exercise: Exercise)
@main(exercise.getTitle, user) {
    <div style="border-bottom: 2px solid black ; width: 300px ; padding: 10px; margin: 10px">
        <h1>@exercise.getTitle</h1>
        <p>@exercise.getContent</p>
        @exercise.getSolutions.map{ solution =>
        <div class="solution">
            <span>@solution.getContent</span>
            <p>
                <small>
                    @solution.getTime.format(DateTimeFormatter.ofLocalizedDateTime(FormatStyle.SHORT).withLocale(Locale.GERMAN))
                    -
                    <a href="#TODO">@solution.getUser().getUsername()</a>
                </small>
            </p>
        </div>
        }

    </div>
}
