@(user: User, viewedUser: User)

@main(user.getUsername, user){

    <h3>Benutzerinfos:</h3>
    <li>
        Benutzername: @viewedUser.getUsername
    </li>
    <li>
        Punkte: @viewedUser.getPoints
    </li>

    <h3>@viewedUser.getUsername's gefolgte Tags:</h3>
    <div class="followed-tags">
        @userViews.followedTags(user, viewedUser)
    </div>

    <h3>@viewedUser.getUsername's letzte Kommentare:</h3>
    <div class="recent-comments">
        @userViews.recentComments(user, viewedUser)
    </div>

    <h3>@viewedUser.getUsername's erstellte Übungen</h3>
    <div class="user-exercises">
        @userViews.userExerciseList(user, viewedUser)
    </div>
}
