@(message: String)
@main("404", null){
    <div class="hero-unit center">
        <h1>@message <small>Error 404</small></h1>
        <br />
        <p>Die Seite, die Du angefordert hast, konnte nicht gefunden werden. Benutze den <b>Zurück</b> Button deines Browsers um auf die Seite zurückzukehren, von der Du gekommen bist.</p>
        <p><b>Oder drück diesen Knopf hier:</b></p>
        <a href="@routes.DashboardController.renderDashboard()" class="btn btn-large btn-info"><i class="icon-home icon-white"></i> Zurück zum Start</a>
    </div>
}