@(user: User)
@main("Login", user) {
    <section id="services">
        <div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Exsolnet</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div>
            <div class="row">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-pencil text-primary"  aria-hidden="true"></i>
                        <h3>Für euch!</h3>
                        <p class="text-muted">Erstellt Aufgaben und Lösungen selbst.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-share-alt text-primary"></i>
                    <h3>Gemeinschaft</h3>
                    <p class="text-muted">Zum Teilen von guten Ansätzen.</p>
                </div>
            </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-trophy text-primary"></i>
                        <h3>Erfolg</h3>
                        <p class="text-muted">Miteinander zum Erfolg.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-newspaper-o text-primary"></i>
                        <h3>Zeitaktuell</h3>
                        <p class="text-muted">Webseite mit aktuellen Dependencies</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-heart text-primary"></i>
                        <h3>Mit Liebe erstellt</h3>
                        <p class="text-muted"></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
}
