@(user: String)
@main("User") {
    @if(user == null) {
        <h1>Login</h1>
        <form method="POST" action="@routes.LoginController.login()">
            <input placeholder="Benutzername" type="text" name="email" id="email"/>
            <input placeholder="Passwort" type="password" name="password" id="password"/>
            <button id="btn_login">Login</button>
        </form>
    }else{
        <form method="POST" action="@routes.LoginController.logout()">
            <label id="lbl_username">@user</label>
            <button>Logout</button>
        </form>
    }
}