@(user: User)

@main("Login", user) {
    <div class="hero-unit">
        <h2>Willkommen</h2>
        <p>Dies ist exsolnet, das Exercise Solution Network. Hier kannst du deine Lösungen zu Übungen aus deinen Schulfächern mit anderen vergleichen, oder deine eigenen Aufgaben hochladen.</p>
        <p>Melde dich an, um loszulegen!</p>
    </div>
    <form method="POST" action="@routes.LoginController.processLogin()">
        <div class="form-group">
            <label for="emailorusername">E-Mail-Adresse oder Benutzername</label>
            <input class="form-control" name="emailorusername" id="email" required placeholder="E-Mail oder Benutzername" oninvalid="this.setCustomValidity('Bitte E-Mail oder Benutzername angeben.')" oninput="this.setCustomValidity('')" >
        </div>
        <div class="form-group">
            <label for="password">Passwort</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Passwort">
        </div>
        <button type="submit" id="btn_login" class="btn btn-default">Login</button>
    </form>

    <div>Falls du noch kein Login besitzt, kannst du dich <a href="@routes.LoginController.renderRegister()">hier</a> registrieren.</div>
}
