@(title: String)(content: Html)

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
        <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("stylesheets/token-input-facebook.css")" />
        <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("stylesheets/token-input.css")" />
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
        <script src="@routes.Assets.versioned("javascripts/jquery-2.2.3.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("javascripts/hello.js")" type="text/javascript"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="topheader">
            <div id="navigation">
                <a href=@routes.DashboardController.renderDashboard()>exsolnet</a>
                <a href=@routes.ExerciseController.renderOverview()>Aufgaben</a>
                <a>Aufgabe erstellen</a>
                <a href=@routes.TagController.renderTagList()>Tags</a>
                <a href=@routes.LoginController.renderLogin()>User</a>
            </div>
        </div>
        <div class="body">
        @content
        </div>
    </body>
</html>
