@(title: String)(content: Html)

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
        <script src="@routes.Assets.versioned("javascripts/hello.js")" type="text/javascript"></script>
    </head>
    <body>
        <div class="header">
            <div class="navigation">
                <ul>
                    <li><a href=@routes.DashboardController.renderDashboard()><p>exsolnet</p></a></li>
                    <li><a><p>Aufgaben</p></a></li>
                    <li><a><p>Aufgabe erstellen</p></a></li>
                    <li><a><p>Tags</p></a></li>
                    <li><a><p>User</p></a></li>
                </ul>
            </div>
        </div>
        <div class="body">
        @content
        </div>
    </body>
</html>
