@import java.util
@(user: User, tags: util.List[Tag], trackedTags: util.List[Tag], currentOrderBy: Int, tagNameFilter: String)

@****************************************
* Helper generating navigation links    *
****************************************@
@link(newOrderBy: Int) = @{
    routes.TagController.renderTagList(newOrderBy, tagNameFilter)
}

@**********************************
* Helper generating table headers *
***********************************@
@header(columnId: Int, title: String) = {
    <th class="col@columnId header @if(Math.abs(currentOrderBy) == columnId) @{if(currentOrderBy == columnId) "headerSortDown" else "headerSortUp"}">
        <a href="@link(if (currentOrderBy == columnId) -columnId else columnId )">@title</a>
    </th>
}

@main("Tagslist", user){

    <h1>Tags</h1>
    <form action="@routes.TagController.renderTagList()" class="form-inline" role="form">
        <div class="form-group">
            <input type="hidden" name="sort" value="@currentOrderBy" />
            <input type="search" class="form-control" id="tagfilter" name="tags" value="@tagNameFilter" placeholder="Tagfilter"/>
        </div>
        <input type="submit" id="submit-tagfilter" value="Suche" class="btn btn-primary"/>
    </form>

    <table class="table table-striped">
        <thead class="thead-inverse">
            <tr>
                @header(1, "Name")
                @header(2, "Aufgaben")
                @header(3, "Subscription")
            </tr>
        </thead>
        <tbody>

        @tags.map{ tag =>
            <tr>
                <td>
                    <a href="@routes.ExerciseController.list(0, 0, "", tag.getName)">@tag.getName</a>
                </td>
                <td>
                    @tag.getExercises.size
                </td>
                <td>
                    @helper.form(action=routes.TagController.processTrack(tag.getName)) {
                        <input type="hidden" name="tag" id="tag_@tag.getId" value="@tag.getName" />
                        <input type="submit"
                            @if(trackedTags.contains(tag)) { value="Nicht mehr folgen" class="btn btn-success btn-block" } else { value="Folgen" class="btn btn-primary btn-block" }
                            id="track_@tag.getId"
                        />
                    }
                </td>
            </tr>
        }
        </tbody>
    </table>
}