@import java.util
@(username: String, tags: util.List[Tag], tracks: util.List[Tracking])

@main("Welcome to Exsolnet"){

    <h1>Tags</h1>
    <input type="search" id="searchbox" name="tags" placeholder="Tag-Filter"/>
    <input type="submit" id="searchsubmit" value="Suche" class="btn primary"/>

    <table class="exercises zebra-striped">
        <thead>
            <tr>
                <td>Name</td>
                <td>Aufgaben</td>
                <td>Subscription</td>
            </tr>
        </thead>
        <tbody>

        @tags.map{ tag =>
            <tr>
                <td>
                @tag.getName
                </td>
                <td>
                @tag.getExercises.size()
                </td>
                <td>
                @tracks.contains(tag)
                </td>
            </tr>
        }
        </tbody>
    </table>
}