@(user: User, followedTags: Html, recentComments: Html, myExercises: Html, mySolutions: Html)

@main(user.getUsername, user){

    <div class="user-section">
        <div class="pull-left">
            @snippets.gravatar(user, 100)
        </div>
        <h1>@user.getUsername</h1>
        <form>
            <button formmethod="GET" type="submit" id="btn_edit" class="btn btn-default" formaction="@routes.UserController.renderEdit()">Edit</button>
            <button formmethod="POST" type="submit" id="btn_logout" class="btn btn-default" formaction="@routes.LoginController.processLogout()">Logout</button>
        </form>
    </div>

    <h3 stlye="clear:both">Deine gefolgten Tags</h3>
    <div class="followed-tags">
        @followedTags
    </div>

    <h3>Neue Kommentare auf deine Beiträge</h3>
    <div class="recent-comments">
        @recentComments
    </div>

    <h3>Deine erstellten Aufgaben</h3>
    <div class="my-exercises">
        @myExercises
    </div>

    <h3>Deine erstellten Lösungen</h3>
    <div class="my-solutions">
        @mySolutions
    </div>
}
